In [ ]:
print("Hello world")

Hello world

# Title

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch

In [ ]:
print(tf.__version__)

2.18.0

In [ ]:
text = 'geeks for geeks'

# Splits at space
print(text.split())

word = 'geeks, for, geeks'

# Splits at ','
print(word.split(','))

word = 'geeks, for, geeks, pawan'

# maxsplit: 0 it basically splits text at , upto a maxsplit of 0
print(word.split(', ', 0))

['geeks', 'for', 'geeks']
['geeks', ' for', ' geeks']
['geeks, for, geeks, pawan']

In [ ]:
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}
print(type(d))
print(type(e))
print(type(f))

<class 'tuple'>
<class 'list'>
<class 'dict'>


**output formatting**

In [ ]:
#fstring
age=12
print(f"her age is {age}")

her age is 12

In [ ]:
#using format()
print("{0} and {1} go to the same school".format('Manasvi','Ananya'))

Manasvi and Ananya go to the same school

In [ ]:
#using %
print("First number: %2d, Second number: %6.2f, Third number: %06.2f" % (12, 5.333, 5.333))

First number: 12, Second number:   5.33, Third number: 005.33

%2d basically means it allows for an integer of length 2.
%6.2f means it allows for an decimal number with two decimal places and total length is 6 including the dot.
if the length comes up to be less than 6, then it is filled with spaces in the front.
%06.2f means that instead of leading spaces, youll have leading zeros

In [ ]:
#using end and sep parameters
print('09', '12', '2016', sep='-')
print("Python", end='@')
print("GeeksforGeeks")

09-12-2016
Python@GeeksforGeeks

when i say x=5, python basicallt creates an object for the value 5 and makes x a reference to it.

now if i say y=x, the y becomes a reference to the value 5 and not x.
so any changes to x wont affect y.

IMP: Python variables hold references to objects, not the actual objects themselves.

**ternary operators**

In [ ]:
n = 5
res = "Even" if n % 2 == 0 else "Odd"
print(res)

Odd

In [ ]:
n = -5
res = "Positive" if n > 0 else "Negative" if n < 0 else "Zero"
print(res)

Negative

In [ ]:
#using tuples
n = 7
res = ("Odd", "Even")[n % 2 == 0] #this gives ("Odd", "Even")[0] since condition is false
print(res)

Odd

In [ ]:
#using dict
a = 10
b = 20
max = {True: a, False: b}[a > b] #{}[False]
print(max)

20

In [ ]:
#using lambda
a = 10
b = 20
max = (lambda x, y: x if x > y else y)(a, b)
print(max)

20

here a mini function is defined that takes two inputs x,y and returns x if condition true, otherwise returns y

In [ ]:
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

None is a special constant that denotes null value or void.

0 and any empty container != None
they are basically objects of its datatype NoneType

non-local: This keyword works similar to the global, but rather than global, this keyword declares a variable to point to variable of outside enclosing function, in case of nested functions.

In [ ]:
a = 15
b = 10

def add():

  	# Add global variables a and b
    c = a + b
    print(c)

add()  # Output: 25

def fun():

  # Local variable in fun()
    var = 10

    def gun():

      	# Modify var1 in the enclosing scope (fun)
        nonlocal var
        var += 10
        print(var)

    gun()

fun() # Output: 20

25
20

tuples are used for fixed data cause it is immutable which means that it cannot be modified once created.

list is just like an array

sets are basically used for unique items and they are also unordered

**dictionary**

In [ ]:
d = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Accessing an element using key
print(d['name'])

# Accessing a element using get
print(d.get(3))

For
Geeks

**Match Case**

this is also used to do conditional checks but provides a more elegant and flexible solution when if else becomes too complicated

In [ ]:
number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _: ##this is like the default case that can match anything
        print("Other number")

Two or Three

In [ ]:
fruits = ["apple", "orange", "kiwi"]
iter_obj = iter(fruits)
## theres an infinite while loop thats gonna keep calling next(oter_obj)
## after its done interating thru the entire loop, the next call is gonna raise StopIteration
while True:
    try:
        fruit = next(iter_obj)
        print(fruit)
    except StopIteration:
        break

apple
orange
kiwi